kbd {
   display:inline-block;
   color:rgba(0,0,0,0.8);
   font-size:.75em;
   line-height:1.0;
   background-color:#f7f7f7;
   border:1px solid #ccc;
   -webkit-border-radius:3px;
   border-radius:3px;
   -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 0.1em #fff inset;
   -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 0.1em #fff inset;
   box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 0.1em #fff inset;
   margin:-0.15em 0.15em 0 0.15em;
   padding:0.2em 0.6em 0.2em 0.5em;
   vertical-align:middle;
   white-space:nowrap
}
.keyseq kbd:first-child {
   margin-left:0
}
.keyseq kbd:last-child {
   margin-right:0
}

.title {
    font-style: italic;
    margin-bottom: 1.5em;
    color: #666;
    font-size: 0.9em;
    margin-top: 0em;
    padding-top: 0.2em;
}

.menuseq {
    background-color: #efefee;
    padding: 0.2em 0.5em;
    font-style: italic;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    }


.markdown-section .glossary-term {
    text-decoration: none;
    color: inherit;
    cursor: help;
    border-bottom: 1px dotted #888;
}

.markdown-section .glossary-term:hover {
    text-decoration: none;
}