/* GDPR Blocker */

.video-wall {
    font-size: 1em;
    color: #aaa;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd !important;
    justify-content: center;
    background-color: #eee;
    width: 877px;
    height: 493px;
    padding: 1em;
}

.video-wall  label {
    margin-bottom: 0em;
}

.video-wall .video-link
{
    color: #666;      
}

.video-wall .video-link	a {
    margin-right: 0em;
}  

.video-wall h1
{
    font-size: 1.3em !important;
    font-weight: bold;
    margin-top: 0;
    color: #666;
    margin-bottom: 1em !important;
}

.video-wall .text a{
    white-space: nowrap;
}

.video-wall .buttons
{
    display: block;
    color: #888;
}
    
.video-wall .buttons input{
    background-color: #fff;
    margin-bottom: 2em;
    color: #000;
    accent-color: #666;
    margin-right: 0.5em;
}

.video-wall .playButton{
    width: 50px;
    height: 50px;
    background-color: #337ab7;
    mask-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 18v-12l10 6-10 6z'/%3E%3C/svg%3E" );
    -webkit-mask-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 18v-12l10 6-10 6z'/%3E%3C/svg%3E" );
    background-repeat: no-repeat;
    background-position:50% 50%;
    margin: 1em auto;
    cursor: pointer;
}

.video-wall .buttons .playButton:hover {
    background-color: #21527c;
}