:root {
--docsearch-primary-color: #505050;
--docsearch-logo-color: #505050;
--docsearch-container-background: rgba(33, 33, 33, 0.8);
}

.ds-search
{
    float: right;
    margin-top: 1rem;
}

.DocSearch-SearchBar
{
    position: relative;
}

.DocSearch-Modal
{
    margin: 30px auto auto;
    border-radius: 3px;
}

.DocSearch-Button
{
    border-radius: 2px;
    height: 30px;
}

.DocSearch-Button:hover
{
    box-shadow: inherit;
}

.DocSearch-Button-Placeholder {
    padding: 0 30px 0 6px;
}

.DocSearch-Logo svg {
    color: var(--docsearch-logo-color);
}

.DocSearch-Logo .cls-1, .DocSearch-Logo .cls-2 {
    color: var(--docsearch-logo-color);
}