kbd
{
    display:inline-block;
    color:rgba(0,0,0,0.8);
    font-size:.9em;
    line-height:1.0;
    background-color:#f7f7f7;
    border:1px solid #ccc;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.1),0 0 0 0.1em #fff inset;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1),0 0 0 0.1em #fff inset;
    box-shadow:0 1px 0 rgba(0,0,0,0.1),0 0 0 0.1em #fff inset;
    margin:-0.15em 0.15em 0 0.15em;
    padding:0.3em 0.4em;
    vertical-align:middle;
    white-space:nowrap
}

.keyseq {
    display: inline-block;
    white-space:nowrap;
}
.keyseq kbd:first-child {
    margin-left:0
 }
.keyseq kbd:last-child {
    margin-right:0
 }

.topbar
{
    background-color: #111111;
    height: 2.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4px;
}

.topbar a
{
    font-size: 12px;
    color: #cfcfcf;
    text-decoration: none;
    margin: 0px;
}

.topbar a:hover
{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 3px;
}

.sidetoc
{
    top: 120px;
}

.sidefilter
{
    top: 120px;
}

.broughtToYou
{
    color: #666666;
    font-size: 13px;
}

.broughtToYou a
{
    color: #333333;
    text-decoration: none;
    margin: 0px;
}

.broughtToYou a:hover
{
    color: #000000;
    border-bottom: 1px solid #000000;
    margin-bottom: 3px;
}

.article
{
    margin-top: 120px;
}

/* GDPR Blocker */

.video-wall {
    font-size: 1em;
    color: #aaa;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd !important;
    justify-content: center;
    background-color: #eee;
    width: 877px;
    height: 493px;
}

.video-wall  label {
    margin-bottom: 0em;
}

.video-wall .video-link
{
    color: #666;      
}

.video-wall .video-link	a {
    margin-right: 0em;
}  

.video-wall h1
{
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em;
    color: #666;
}

.video-wall .text
{
    margin: 1em 0em;
}

.video-wall .text a{
    white-space: nowrap;
}

.video-wall .buttons
{
    display: block;
    color: #888;
}
    
.video-wall .buttons input{
    background-color: #fff;
    margin-bottom: 2em;
    color: #000;
    accent-color: #666;
    margin-right: 0.5em;
}

.video-wall .playButton{
    width: 50px;
    height: 50px;
    background-color: #337ab7;
    mask-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 18v-12l10 6-10 6z'/%3E%3C/svg%3E" );
    -webkit-mask-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 18v-12l10 6-10 6z'/%3E%3C/svg%3E" );
    background-repeat: no-repeat;
    background-position:50% 50%;
    margin: 2em auto 1em;
    cursor: pointer;
}

.video-wall .buttons .playButton:hover {
    background-color: #21527c;
}

