kbd
{
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .4em;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.2;
    color: #000;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px #999 ,inset 0 1px 0 0 #fff;
    white-space: nowrap;
}