kbd
{
    display:inline-block;
    color:rgba(0,0,0,0.8);
    font-size:.9em;
    line-height:1.0;
    background-color:#f7f7f7;
    border:1px solid #ccc;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.1),0 0 0 0.1em #fff inset;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1),0 0 0 0.1em #fff inset;
    box-shadow:0 1px 0 rgba(0,0,0,0.1),0 0 0 0.1em #fff inset;
    margin:-0.15em 0.15em 0 0.15em;
    padding:0.3em 0.4em;
    vertical-align:middle;
    white-space:nowrap
}

.keyseq {
    display: inline-block;
    white-space:nowrap;
}
.keyseq kbd:first-child {
    margin-left:0
 }
.keyseq kbd:last-child {
    margin-right:0
 }

.topbar
{
    background-color: #111111;
    height: 2.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4px;
}

.topbar a
{
    font-size: 12px;
    color: #cfcfcf;
    text-decoration: none;
    margin: 0px;
}

.topbar a:hover
{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 3px;
}

.sidetoc
{
    top: 170px;
}

.sidefilter
{
    top: 120px;
}